extends ./layout/index

block contenido
  main.container.mt-5 
    .row 
      .col-md-5
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class='img-fluid')
      .col-md-7
        h1=pagina
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget purus erat. Nunc pretium facilisis quam id porta. Quisque vestibulum euismod  Proin a ex vel nisi lobortis pretium.

        p Donec fermentum eu dolor non mattis. Donec non arcu tellus. Nullam interdum est enim, et pellentesque at dictum mum consectetur sit amet quis felis. Integer fringilla euismod placerat. Aenean accumsan nisi lorem.

        p Cras luctus eros in libero posuere, quis blandit velit accumsan. Donec aliquet lacinia mollis. Aenean sit amet turpis massa. Vivamus maximus, erat vitae dapibus mattis, ligula enim sagittis leo, ac feugiat lorem
  .listado-iconos   
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class='img-fluid mb-4')
          h2.mb-4 Seguirdad 
          p Cras luctus eros in libero posuere, quis blandit velit accumsan. Donec aliquet lacinia mollis. Aenean sit 

        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos", class='img-fluid mb-4')
          h2.mb-4 Mejores Destinos 
          p Cras luctus eros in libero posuere, quis blandit velit accumsan. Donec aliquet lacinia mollis. Aenean sit 

        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios", class='img-fluid mb-4')
          h2.mb-4 Los Mejores Precios 
          p Cras luctus eros in libero posuere, quis blandit velit accumsan. Donec aliquet lacinia mollis. Aenean sit 

